@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap");
body {
    margin: 0;
    font-family: "Sriracha", sans-serif;
    font-weight: bold;
    background: linear-gradient(to right, rgb(38, 13, 151), white, rgb(40, 11, 148));
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap-reverse;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 5%;
}

#list {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    line-height: 1.5rem;
}

.playing {
    color: rgb(81, 179, 57);
}

h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    text-decoration: underline;
    color: rgb(255, 255, 255);
}

i {
    font-size: 30px;
    color: maroon;
}

.lists {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.songs,
.playlists {
    width: 22ch;
    animation: typing 2s steps(22), blink 0.5s step-end alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
@-ms-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.disappear {
    background-color: rgb(120, 83, 180);
    padding: 15px 15px 15px 15px;
    text-align: center;
    margin-bottom: 4px;
    font-size: 24px;
    border-radius: 5px;
    -moz-transition: all 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    -ms-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
    -moz-animation: blink normal 3s infinite ease-in-out;
    -webkit-animation: blink normal 3s infinite ease-in-out;
    -ms-animation: blink normal 3s infinite ease-in-out;
    animation: blink normal 3s infinite ease-in-out;
}

.border-Img {
    border: 10px solid gold;
}
